/* =======================================
   ARCA PIXELES STUDIO
======================================= */
#logoScreen{
    position:fixed;
    inset:0;
    background:radial-gradient(circle at center,#152447 0%,#0b1020 55%,#000 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999999;
}

#logoVideo{
    display:none;
    width:100vw;
    height:100vh;
    object-fit:contain;
}

#introLogo{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

#introLogo h1{
    font-size:4rem;
    letter-spacing:6px;
    margin:0;
}

#introLogo h2{
    color:#ffd76a;
    margin-bottom:30px;
}

.textoCristal{
    margin-top:30px;
    font-size:1.2rem;
    opacity:.9;
}

#cristal{
    width:120px;
    height:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:radial-gradient(circle,#8de8ff 0%,#3ca9ff 60%,#1f3f8f 100%);
    border:3px solid rgba(255,255,255,.6);
    font-size:60px;
    color:white;
    cursor:pointer;
    box-shadow:
        0 0 20px #69d9ff,
        0 0 60px rgba(0,180,255,.5);
    animation:latido 2s infinite;
    transition:.3s;
    user-select:none;
}

#cristal:hover{
    transform:scale(1.15);
}
@keyframes latido{
    0%{
        transform:scale(1);
        filter:drop-shadow(0 0 5px #6fd8ff);
    }
    50%{
        transform:scale(1.12);
        filter:drop-shadow(0 0 30px #6fd8ff);
    }
    100%{
        transform:scale(1);
        filter:drop-shadow(0 0 5px #6fd8ff);
    }
}