/* =======================================
   🪨 CAVERNAS DE MÍRRAFEN
======================================= */
.cavernas{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* =======================================
   🪨 FONDO
======================================= */
.cavernas-background{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
/* =======================================
   🎮 ZONAS INTERACTIVAS
======================================= */
.zona-caverna{
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
/* =======================================
   💎 MINERALES
======================================= */
.zona-caverna.minerales{
    left: 40%;
    top: 40%;
    width: 15%;
    height: 10%;
    color:#e6dca5;
    font-weight:bold;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0 2px 5px #000;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 100px;
}
/* =======================================
   🔥 FUEGO
======================================= */
.zona-caverna.fuego{
    left: 0%;
    top: 40%;
    width: 25%;
    height: 30%;
}
/* =======================================
   ❄️ HIELO
======================================= */
.zona-caverna.hielo{
    right: 0%;
    top: 40%;
    width: 25%;
    height: 30%;
}
/* =======================================
   CARTEL PRÓXIMAMENTE
======================================= */
.zona-caverna img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    transition: transform 0.15s ease;
}
/* =======================================
   ⚠️ TEMBLOR
======================================= */
.caverna-temblor{
    animation: temblorCaverna 0.4s ease;
}
@keyframes temblorCaverna{
    0%   { transform: translateX(0); }
    20%  { transform: translateX(-7px); }
    40%  { transform: translateX(7px); }
    60%  { transform: translateX(-5px); }
    80%  { transform: translateX(5px); }
    100% { transform: translateX(0); }
}
/* =======================================
   🛒 SALIDA
======================================= */
.caverna-salida{
    position: absolute;
    right: 5%;
    top: 5%;
    width: 150px;
    height: 150px;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(250, 248, 245, 0.397);
    border-radius: 100px;
}
.caverna-salida img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s ease;
}
.caverna-salida:hover img{
    transform: scale(1.08);
}
.caverna-salida{
    position:absolute;
    color:#e6dca5;
    flex-direction: column;
    font-weight:bold;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0 2px 5px #000;
    border-radius: 100px;
}
/* =======================================
   💻 TABLET
======================================= */
@media (max-width: 900px){
    .caverna-salida{ width: 100px; height: 100px; right: 10%; bottom: 30%; }
}
/* =======================================
   📱 CELULAR
======================================= */
@media (max-width: 600px){
    .caverna-salida{ width: 75px; height: 75px; right: 5%; top: 5%; background-color: rgba(250, 248, 245, 0.397); border-radius: 100px;}
    .zona-caverna.minerales{ left: 40%; top: 45%; width: 25%; height: 5%; color:#e6dca5; font-weight:bold; background-color: rgba(0, 0, 0, 0.445); border-radius: 100px;}
    .zona-caverna.fuego{ left: 2%; top: 40%; width: 30%; height: 28%; }
    .zona-caverna.hielo{ right: 2%; top: 40%; width: 30%; height: 28%; }
}