/* =======================================
   MERCADO DE MÍRRAFEN
======================================= */
.mercado{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;

    background-image:url("../../assets/images/backgrounds/market.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* =======================================
   MERCADER
====================================== */
.mercader{
    position: absolute;
    /*BORIN EN EL CENTRO*/
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: auto;
}
/* =======================================
   BORIN — VENTANA DEL SPRITE
======================================= */
.borin-sprite{
    background-repeat: no-repeat;
    background-position: 0 0;

    flex-shrink: 0;

    transform: scale(clamp(0.65, 1.8vw, 1.2));
    transform-origin: center bottom;
}
/* =======================================
   DIÁLOGO DE BORIN
   VIÑETA INTEGRADA EN EL FONDO
======================================= */

#dialogoBorin{
    position: absolute;

    left: 2%;
    top: 23%;

    width: 96%;
    min-height: clamp(130px, 15vh, 190px);
    height: auto;

    z-index: 40;

    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: auto;

    border: clamp(4px, 0.5vw, 8px) solid #FFE474;
    outline: clamp(2px, 0.2vw, 3px) solid #975E05;

    border-radius: 5%;

    background: #FEFCA5;
}
/* =======================================
   CONTENIDO DEL DIÁLOGO
======================================= */
.borin-dialogo{
    width: 100%;
    height: auto;
    min-height: 100%;

    box-sizing: border-box;

    padding: clamp(6px, 0.7vw, 12px);

    text-align: center;
    color: #4a2a16;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: clamp(3px, 0.4vw, 8px);
    
}
.borin-nombre{
    font-size: clamp(11px, 1vw, 16px);
    font-weight: bold;
    margin-bottom: 2px;
}
.borin-texto{
    width: 100%;

    font-size: clamp(11px, 1vw, 16px);
    font-weight: bold;
    line-height: 1.2;

    margin: 0;

    overflow-wrap: break-word;
}
.borin-dialogo button {
    width: clamp(90px, 9vw, 130px);
    height: 50px;
    padding: 6px 8px;
    font-size: clamp(12px, 1vw, 14px);
    margin: 2px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
/* =======================================
   INFORMACIÓN DEL JUGADOR
======================================= */
.info-jugador-mercado{
    position: absolute;
    top: 0%;
    right: 2%;
    width: 30%;
    padding: 8px 10px;
    box-sizing: border-box;
    background: rgba(70, 38, 20, 0.92);
    border: 2px solid #b8862c;
    border-radius: 7px;
    color: #f5d76e;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    z-index: 50;
    box-shadow:
        0 3px 6px rgba(0,0,0,0.5);
}
.jugador-nombre{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.jugador-oquos{
    color: #ffd95a;
    white-space: nowrap;
}
/* =======================================
   MOSTRADOR
======================================= */
.mercado-mostrador{
    position: absolute;
    left: 50%;
    bottom: 24%;
    transform: translateX(-50%);
    z-index: 20;
    pointer-events: none;
}
/* =======================================
   SALIDA
======================================= */
.mercado-salida{
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 30;
    cursor: pointer;
    transition:transform 0.2s ease, filter 0.2s ease;
}
.mercado-salida img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.mercado-salida:hover{
    transform: scale(1.5);
    filter: brightness(1.25);
}
/* =======================================
   RESPONSIVE
======================================= */
@media (max-width: 700px){

    .mercader{
        top: 52%;
    }

    #dialogoBorin{
        left: 8%;
        top: 18%;

        width: 84%;

        min-height: 145px;
        max-height: 32vh;

        overflow-y: auto;
    }

    .borin-dialogo{
        padding: 7px;
        gap: 4px;
    }

    .borin-nombre{
        font-size: 12px;
    }

    .borin-texto{
        font-size: 12px;
    }

    .borin-dialogo button{
        width: clamp(90px, 30vw, 130px);
        min-height: 42px;

        font-size: 11px;
        margin: 2px;
    }

    .info-jugador-mercado{
        width: 42%;
        right: 2%;
        top: 2%;

        font-size: 11px;

        padding: 5px;
    }

    .mercado-salida img{
        width: 50px;
        height: 50px;
    }
}
/* =======================================
   ITEMS DEL MERCADO
======================================= */
#itemsMercado{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
/* =======================================
   CONTENEDOR DEL ITEM
======================================= */
.item-mercado-contenedor{
    position: absolute;

    width: clamp(40px, 6.5vw, 70px);
    height: clamp(60px, 8.5vw, 100px);

    pointer-events: auto;
    user-select: none;
    cursor: pointer;
}
/* =======================================
   IMAGEN BASE DE LOS ITEMS
======================================= */
.item-mercado{
    width: clamp(20px, 6vw, 50px);
    height: clamp(20px, 6vw, 50px);

    object-fit: contain;
    display: block;

    transition:
        transform 0.2s ease,
        filter 0.2s ease;
}
/* =======================================
   EFECTO AL PASAR
======================================= */
.item-mercado-contenedor:hover .item-mercado{
    transform: scale(1.1);
    filter: brightness(1.5);
}
/* =======================================
   DISTRIBUCIÓN DE ITEMS
======================================= */
/* -------- LADO IZQUIERDO -------- */
.item-coca{
    left: 5%;    top: 0%;
}
.item-natacion{
    left: 5%;    top: 8%;
}
.item-libro{
    left: 5%;    top: 16%;
}
.item-bici{
    left: 5%;    top: 48%;
}
.item-arbol{
    left: 5%;    top: 56%;
}
.item-luces2{
    left:5%;     top: 64%;
}
.item-manos{
    left: 5%;    top: 72%;
}
.item-tele{
    left: 5%;    top: 81%;
}
.item-compu{
    left: 5%;    top: 90%;
}
/* -------- ARRIBA 1 -------- */
.item-pizza{
    left: 25%;    top: 0%;
}
.item-waffle{
    left: 45%;    top: 0%;
}
.item-musica{
    left: 25%;    top: 8%;
}
.item-pintura{
    left: 45%;    top: 8%;
}
.item-sombrilla{
    left: 65%;    top: 8%;
}
.item-vaso{
    left: 85%;    top: 8%;
}
.item-chocolate{
    left: 25%;    top: 16%;
}
.item-burguer{
    left: 45%;    top: 16%;
}
.item-mcBurguer{
    left: 65%;    top: 16%;
}
.item-galleta{
    left: 85%;    top: 16%;
}
/* -------- ABAJO -------- */
.item-mando{
    left: 25%;    top: 72%;
}
.item-mapaBosque{
    left: 25%;    top: 81%;
}
.item-mapaLeon{
    left: 25%;    top: 90%;
}
.item-joystick{
    left: 45%;    top: 72%;
}
.item-pelota{
    left: 45%;    top: 81%;
}
.item-varita{
    left: 45%;    top: 90%;
}
.item-pochoclo{
    left: 65%;    top: 72%;
}
.item-helado{
    left: 65%;    top: 81%;
}

.item-cometa{
    left: 82%;    top: 52%;
}
.item-castillo{
    left: 82%;    top: 62%;
}
.item-carta{
    left: 82%;    top: 72%;
}